
// ---------
// Font Family
$pt_serif: 'PT Serif', serif;
$pt_sans: 'PT Sans Caption', sans-serif;


// Colors ---------------

$white: #fff;

$black: #0B162B;

$grey:#F8F8F8;

//$theme-color: #549926;//8db600
$theme-color: #1BD77A;//8DB620


$text-color: #0B162B;
$text-color-2: #6c90b9;
$text-color-3: #69a1bb;


$border-color:#e3eeff;
$border-color-2:#ededed;


// Heading Color
$heading-color: #0B162B;

// Soft color
$black-soft:#4f79a9;


// Responsive Variables
/*     xxxs: 0,
    xxs: 320px,
    xs: 568px,
    sm: 667px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px,
    xxxl: 1600px */
$xxxl: 'only screen and (min-width: 1440px) and (max-width: 1600px)';    
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1439px)';//xl
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 568px)';
$sm: 'only screen and (min-width: 568px) and (max-width: 767px)';


@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&display=swap&subset=cyrillic');


 body {
	font-family: $pt_serif;
	font-weight: normal;
	font-style: normal;
    overflow-x: hidden;
    color: $text-color;
}

*{
    margin: 0;
    padding: 0;
    @include box-sizing (border-box);
}

img {
	max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover{
	text-decoration: none;
}

i,
span,
a{
    display: inline-block;
}

h1,
h2,
h4,
h5,
h6 {
    font-family: $pt_sans;
	font-weight: 700;
	color: $heading-color;
	margin: 0px;
}

h1 {
    font-size: 64px;
    line-height: 72px;
}
h2 {
	font-size: 40px;
}
h3 {
    font-family: $pt_serif;
	font-weight: 700;
	color: $heading-color;
	margin: 0px;
	font-size: 22px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}
ul,ol {
	margin: 0px;
	padding: 0px;
    list-style-type: none;
}

p {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: $text-color;
	margin: 0px;
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
    box-shadow: none;
}

.form-control {
    font-size: 16px;
    font-weight: 400;
    font-family: $pt_sans;
    border-radius: 0;
    height: 60px;
}

.bg_cover{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


// others common css here



/*===== All Button Style =====*/

.main-btn {
    display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	@include user-select(none);
    padding: 0 6px;
    font-family: $pt_sans;
	font-size: 16px;
	line-height: 60px;
    color: $white;
    border: 2px solid $theme-color;
    border-radius: 3px;
    cursor: pointer;
    z-index: 5;
    @include transition(0.4s);
    background-color: $theme-color;
    width: 320px;
    
    &:hover{
    	background-color: transparent;
        color: $theme-color;
    }
    
    &.nav-btn{
        color: $white;
        width: 152px;
        height: 48px;
        line-height: 42px;
        &:hover{
            background-color: transparent;
            border-color: $theme-color;
            color: $theme-color;
        }
    }
}
