//Bootstrap styles 
$grid-breakpoints: ( 
    xxxs: 0,
    xs: 568px,
    sm: 667px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px,
    xxxl: 1600px)!default;


$container-max-widths: (

      xs: 568px,
      sm: 667px,
      md: 768px,
      lg: 992px,
      xl: 1200px,
    xxxl: 1280px)!default;

@import "node_modules/bootstrap/scss/bootstrap.scss";
/* @import "node_modules/bootstrap/scss/variables.scss";
@import "node_modules/bootstrap/scss/mixins.scss";
@import "node_modules/bootstrap/scss/root.scss";
@import "node_modules/bootstrap/scss/reboot.scss";
@import "node_modules/bootstrap/scss/grid.scss";
@import "node_modules/bootstrap/scss/nav.scss";
@import "node_modules/bootstrap/scss/navbar.scss"; */

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);
@include _assert-ascending($container-max-widths, "$container-max-widths"); 
//Custom mixins
@import "mixins/mixins";

//Custom settings --
@import "variables";
@import "settings";

//Component specific styles 
@import "components/callout";
@import "components/navbar";
@import "components/banner";
@import "components/functionality";
@import "components/video";
@import "components/howitworks";
@import "components/integrations";
@import "components/whois";
@import "components/cta";
@import "components/footer";
@import "components/modals";


