.banner-area {
	height: 960px;
	background: $grey;
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;

	&::before {
		position: absolute;
		content: '';
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-size: cover;
		background-position: center center;
	}

	& .banner-content {
		&>span {
			font-size: 20px;
			color: $text-color;

			@media #{$xxxl} {
				font-size: 22px;
			}
		}

		& .title {
			padding-bottom: 66px;

			@media #{$xxxl} {
				padding-top: 18px;
				font-size: 64px;
			}

			@media #{$laptop} {
				font-size: 60px;
				line-height: 62px;
			}

			@media #{$md} {
				font-size: 52px;
				line-height: 56px;
			}

			@media #{$lg} {
				font-size: 60px;
				line-height: 62px;
			}

			@media #{$xs} {
				font-size: 52px;
				line-height: 56px;
			}

			@media #{$sm} {
				margin-top: 20px;
				font-size: 60px;
				line-height: 70px;
			}
		}

		& a.btn-2 {
			margin-top: 66px;
			border-top-color: $theme-color;
			border-bottom-color: $theme-color;
			width: 318px;

			@media #{$xs} {
				width: 100%;
			}

			@media #{$md} {
				justify-content: center;
			}

			&::before {
				background: $theme-color;
			}

			&::after {
				background: $theme-color;
			}
		}

		& ul {
			& li {
				display: inline-block;
				margin-top: 108px;
				margin-right: 20px;
				width: 148px;

				@media #{$lg} {
					margin-right: 40px;
				}

				@media #{$xs} {
					margin-right: auto;
					margin-left: auto;
					width: 50%;
					display: block;
					margin-top: 60px;

				}

				@media #{$sm} {
					margin-top: 60px;
				}

				&:last-child {
					margin-right: 0;

					@media #{$xs} {
						margin-right: auto;
						margin-top: 40px;
					}
				}

				& a {
					@include transition(0.3s);

					& p {
						display: inline-block;
						font-size: 24px;
						color: $black;
						font-weight: 700;
					}

					&:hover {
						opacity: 0.5;
					}

				}
			}
		}
	}

	& .banner-phone {
		position: absolute;
		right: -30px;
		bottom: 0px;
		height: 450px;
		width: 280px;
		z-index: 1;

		@media #{$sm} {
			bottom: 8rem;
		}

		@media #{$md} {
			bottom: 8rem;
			right: 2rem;
		}

		@media #{$lg} {
			height: 204px;
			width: 200px;
			right: 60px;
			bottom: 240px;
		}

		@media #{$laptop} {
			height: 360px;
			width: 240px;
			right: 10px;
			bottom: 120px;
		}
	}

	& .banner-mac {
		position: absolute;
		right: 20px;
		bottom: -180px;
		height: 530px;
		width: 820px;
		z-index: 1;

		@media #{$lg} {
			height: 360px;
			width: 600px;
			bottom: -60px;
			right: -60px;
		}

		@media #{$laptop} {
			height: 360px;
			width: 720px;
			bottom: -10px;
		}

		& img {
			position: absolute;
			top: -240px;
			left: 0;
		}
	}

	& .banner-info {
		position: absolute;
		right: 10%;
		width: 45%;
		text-align: center;

		@media #{$sm} {
			width: 100%;
			right: 0px;
			padding: 20px;
		}

		@media #{$xs} {
			width: 100%;
			right: 0px;
			padding: 20px;
		}

		@media #{$md} {
			width: 300px;
			right: 30px;
			bottom: 0.5rem;
		}

		@media #{$lg} {
			width: 400px;
			right: 30px;
			bottom: 5px;
		}

		@media #{$laptop} {
			bottom: 20px;
		}

		& p {
			font-size: 20px;

			@media #{$md} {
				font-size: 16px;
			}
		}
	}
}