.cta-area {
    background: $grey;
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;

    & .cta-content {
        display: flex;
        align-items: center;
        flex-direction: row;

        @media #{$md} {
            flex-direction: row;
        }

        @media #{$lg} {
            flex-direction: row;
        }

        @media #{$xs} {
            flex-direction: column;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        @media #{$sm} {
            flex-direction: column;
        }

        & .text {

            @media #{$sm}, #{$xs} {
                text-align: center;
            }

            &>span {
                width: 80%;
                font-size: 18px;
                color: $text-color;
                opacity: 0.5;
                margin-top: 1rem;


            }

            & a.btn-2 {
                margin-top: 2rem;
                margin-bottom: 20px;
                border-top-color: $theme-color;
                border-bottom-color: $theme-color;
                width: 318px;

                @media #{$xs} {
                    width: 100%;
                }

                @media #{$md} {
                    justify-content: center;
                }

                &::before {
                    background: $theme-color;
                }

                &::after {
                    background: $theme-color;
                }
            }

        }

        & .cta-box {

            @media #{$xs},
            #{$sm} {
                margin-top: 3rem;
            }

        }


    }
}