footer {
  background-color: $white;
  color: $grey;
  line-height: 1.5;
}

footer a {
  font-family: $pt_serif;
  font-size: 16px;
  color: #969697;
  position: relative;
  @include transition(0.3s);
  margin: 0;
  padding-top: 14px;

  &:hover {
    opacity: 0.5;
  }
}

.ft-title {
  color: $black;
  font-size: 1rem;
  padding-bottom: 0.625rem;
}

/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
}

/* Footer main */
.ft-main {
  margin-top: 100px;
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* @media only screen and (min-width: 29.8125rem

  /* 477px /
) {
  .ft-main {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 77.5rem

  /* 1240px /
) {
  .ft-main {
    justify-content: space-evenly;
  }
} */

.ft-main-item {
  padding: 1.25rem;
  //min-width: 12.5rem;

  & img {
    width: 100px;
    height: auto;
  }

  & p {
    margin-top: 1.5rem;
  }

  .icons {
    display: flex;
    justify-content: space-between;

    @media #{$sm},
    #{$xs} {
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
    }
  }

  .social {
    margin-top: 2rem;
    float: left;

    & li {
      display: inline-flex;
    }

    & ul>li>a>img {
      width: 42px;
      height: 42px;
    }
  }

  .apps2 {
    margin-top: 2rem;

    & li {
      display: inline-flex;

      @media #{$sm},
      #{$xs} {
        display: block;
      }
    }

    & ul>li>a>img {
      width: auto;
      height: 42px;
    }
  }
}

/* Footer social */
.ft-arr {
  padding: 0 1.875rem 1.25rem;
}

.ft-arr-list {
  display: flex;
  justify-content: start;
  text-justify: initial;
  border-top: 1px $black solid;
  padding-top: 1.25rem;
  color: $black;
  opacity: 0.5;
}