.functionality-area {
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    & .head {
        display: flex;
        justify-content: center;
        margin-top: 8rem;
    }

    & .feature-items {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        margin-top: 6rem;
        margin-bottom: 6rem;

        &>.item {
            width: 380px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            padding: 1rem;
            margin: 1rem;

            & object {
                align-content: center;
                margin: 0 auto;
                width: 80px;
                height: 80px;
            }

            & p {
                margin-top: 25px;
                text-align: center;
                font-size: 24px;
                line-height: 40px;

                @media #{$xs} {
                    font-size: 22px;
                    line-height: 32px;
                }
            }

        }
    }
}