$S: 320px;
$M: 768px;
$L: 1170px;

// layout - media queries

@mixin MQ($canvas) {
    @if $canvas==S {
        @media only screen and (min-width: $S) {
            @content;
        }
    }

    @else if $canvas==M {
        @media only screen and (min-width: $M) {
            @content;
        }
    }

    @else if $canvas==L {
        @media only screen and (min-width: $L) {
            @content;
        }
    }
}

.howitworks-area {
    background: $white;

    & .head,
    .btn {
        display: flex;
        justify-content: center;
        margin-top: 8rem;
    }
}

.hiw-container {
    width: 90%;
    max-width: $L;
    margin: 0 auto;

    &::after {
        /* clearfix */
        content: '';
        display: table;
        clear: both;
    }
}

.timeline {
    position: relative;
    padding: 2em 0;
    margin: 0 auto;

    &::before {
        /* this is the vertical line */
        content: '';
        position: absolute;
        top: 2.5rem;
        left: 1.8rem;
        height: 65%;
        width: 3px;
        background: #efefef;
    }

    @include MQ(L) {
        margin: {
            top: 3em;
            bottom: 3em;
        }

        &::before {
            left: 50%;
            margin-left: -2px;
        }
    }
}

.timeline-item {
    position: relative;
    margin: 2em 0;
    @include clearfix;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @include MQ(L) {
        margin: 4em 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}


.timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 10px 40px rgba(221, 221, 221, 0.7);

    img {
        display: block;
        width: 20px;
        height: 20px;
        position: relative;
        left: 50%;
        top: 50%;
        margin-left: -10px;
        margin-top: -10px;
    }

    &.icon-active {
        background: $theme-color;
    }

    &.icon-inactive {
        background: $white;
        border: solid 1px #CDCDCD;
    }

    @include MQ(L) {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;

        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
}



.timeline-content {
    position: relative;
    margin-left: 80px;
    background: $white;
    border: 1px solid #efefef;
    @include border-radius;
    padding: 1.5em;
    box-shadow: 0px 20px 20px rgba(221, 221, 221, 0.4);
    @include clearfix;

    h3 {
        color: $black;
    }

    p {
        margin: 1em 0;
        line-height: 1.6;
        opacity: 0.5;
    }

    .content-img {
        width: 350px;
        height: 162px;

        @media #{$xs} {
            display: none;

        }
    }


    &::before {
        content: '';
        position: absolute;
        top: 16px;
        right: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-right: 7px solid transparent;
    }

    &:hover {
        box-shadow: 0px 2px 40px rgba(44, 255, 150, 0.1);
        border: 1px solid $theme-color;

        h3 {
            color: $theme-color;
        }
    }

    @include MQ(M) {
        h3 {
            @include font-size(20px);
        }

        p {
            @include font-size(16px);
        }
    }

    @include MQ(L) {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;

        &::before {
            top: 24px;
            left: 100%;
            border-color: transparent;
            border-left-color: $theme-color;
        }


        .timeline-item:nth-child(even) & {
            float: right;

            &::before {
                top: 24px;
                left: auto;
                right: 100%;
                border-color: transparent;
                border-right-color: $theme-color;
            }

        }
    }
}