 @media (min-width: 576px) {
     .modal-dialog {
         max-width: 400px;

         .modal-content {
             padding: 1rem;
         }
     }
 }

 .modal-header {
     .close {
         margin-top: -1.5rem;
     }
 }

 .form-title {
     margin: -2rem 0rem 2rem;
     font-family: $pt-sans;
 }


 .delimiter {
     padding: 1rem;
 }


 .signup-section {
     padding: 0.3rem 0rem;
 }

 .btn-modal {
     width: 100%;
 }