.header-nav {
	-webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, .1);
	box-shadow: 0 0 18px 1px rgba(0, 0, 0, .1);

	& .navigation {
		position: absolute;
		right: 0;
		left: 0;
		top: 40px;
		padding-bottom: 0.5rem;
		padding-top: 0.5rem;
		z-index: 99;

		@media #{$xs} {
			/*         	padding-left: 1rem;
        	padding-right: 1rem; */
		}

		@media #{$sm} {
			padding-left: 1rem;
			padding-right: 1rem;
		}

		&.sticky {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			background: $white;
			box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.04);
			z-index: 999;
			animation: sticky .4s;

			& .navbar {
				& .navbar-nav {
					& .nav-item {
						& a {
							line-height: 80px;
						}
					}
				}
			}
		}

		& .navbar {
			position: relative;
			padding: 0;
			height: 48px;

			& .country-flag {
				& img {
					border: 5px solid $white;
					border-radius: 6px;
					box-shadow: 0px 8px 16px 0px rgba(60, 110, 203, 0.2);
				}
			}

			& .navbar-toggler {
				border-color: transparent;

				& .toggler-icon {
					width: 30px;
					height: 3px;
					background-color: $theme-color;
					margin: 5px 0;
					display: block;
					position: relative;
					@include transition(0.3s);
				}

				&.active {
					& .toggler-icon {
						&:nth-of-type(1) {
							@include transform(rotate(45deg));
							top: 8px;
						}

						&:nth-of-type(2) {
							opacity: 0;
						}

						&:nth-of-type(3) {
							@include transform(rotate(135deg));
							top: -8px;
						}
					}
				}
			}

			& .navbar-collapse {

				@media #{$md},
				#{$sm},
				#{$xs} {
					position: absolute;
					top: 120%;
					left: 0;
					width: 100%;
					background-color: $white;
					z-index: 8;
					padding: 10px 16px;
					box-shadow: 0 26px 48px 0 rgba(0, 0, 0, .15);
				}
			}

			& .navbar-nav {


				@media #{$md} {
					margin-right: 0;
				}

				@media #{$xs} {
					margin-right: 0;
				}

				& .nav-item {
					position: relative;

					@media #{$lg} {
						margin-right: 18px;
					}

					& a {
						font-family: $pt_sans;
						font-size: 16px;
						font-weight: 700;
						line-height: 80px;
						padding: 0 16px;
						color: $black;
						position: relative;
						@include transition(0.3s);
						margin: 0;

						@media #{$lg} {
							font-size: 15px;
							padding: 0 5px;
						}

						@media #{$md} {
							padding: 0;
							display: block;
							border: 0;
							margin: 0;
						}

						@media #{$xs} {
							padding: 0;
							display: block;
							border: 0;
							margin: 0;

						}

						& span {
							padding-left: 5px;
							font-size: 15px;

							@media #{$md} {
								display: none;
							}

							@media #{$xs} {
								display: none;
							}
						}

						&:hover {
							opacity: 0.5;
						}
					}



					& .sub-menu {
						position: absolute;
						left: 0;
						top: 110%;
						width: 260px;
						background-color: $white;
						opacity: 0;
						visibility: hidden;
						@include transition(0.3s);
						z-index: 99;
						@include box-shadow (0 2px 6px 0 rgba(0, 0, 0, 0.16));

						@media #{$md} {
							position: relative !important;
							width: 100% !important;
							left: 0 !important;
							top: auto !important;
							opacity: 1 !important;
							visibility: visible !important;
							display: none;
							right: auto;
							@include transform(translateX(0%));
							@include transition(none);
							@include box-shadow(none);
							text-align: left;
							border-top: 0;
						}

						@media #{$xs} {
							position: relative !important;
							width: 100% !important;
							left: 0 !important;
							top: auto !important;
							opacity: 1 !important;
							visibility: visible !important;
							display: none;
							right: auto;
							@include transform(translateX(0%));
							@include transition(none);
							@include box-shadow(none);
							text-align: left;
							border-top: 0;
						}

						&>li {
							position: relative;

							& .sub-nav-toggler {
								color: $heading-color;
								@include transition(0.3s);
							}

							& a {
								display: block;
								padding: 8px 24px;
								position: relative;
								color: $black-soft;
								@include transition(0.3s);
								border-radius: 0;
								margin: 0 0;
								line-height: 30px;

								& i {
									float: right;
									font-size: 14px;
									margin-top: 5px;

									@media #{$md} {
										display: none;
									}

									@media #{$xs} {
										display: none;
									}
								}

								& .sub-nav-toggler {
									& i {
										display: inline-block;
									}
								}
							}

							& .sub-menu {
								right: auto;
								left: 100%;
								top: 0;
								opacity: 0;
								visibility: hidden;
								@include transition(0.3s);

								@media #{$md} {
									padding-left: 30px;
								}

								@media #{$xs} {
									padding-left: 30px;
								}
							}

							&:hover {
								& .sub-menu {
									top: 100%;
									opacity: 1;
									visibility: visible;
								}

								& .sub-nav-toggler {
									color: $white;
								}

								&>a {
									background-color: $theme-color;
									color: #fff !important;
								}
							}
						}
					}

					&:hover {
						& .sub-menu {
							opacity: 1;
							visibility: visible;
							top: 100%;
						}
					}

					.sub-nav-toggler {
						display: none;

						@media #{$md} {
							display: inline-block;
							position: absolute;
							top: 0;
							right: 0;
							padding: 10px 14px;
							font-size: 16px;
							background: none;
							border: 0;
							color: $heading-color;
						}

						@media #{$xs} {
							display: inline-block;
							position: absolute;
							top: 0;
							right: 0;
							padding: 10px 14px;
							font-size: 16px;
							background: none;
							border: 0;
							color: $heading-color;
						}
					}
				}
			}

			& .navbar-btn {

				@media #{$laptop} {
					margin-right: 50px;
				}

				@media #{$lg} {
					margin-right: 30px;
				}

				@media #{$md} {
					position: absolute;
					right: 70px;
					top: 3px;
					margin-right: 0;
				}

				@media #{$xs} {
					display: none;
				}

				@media #{$sm} {
					position: absolute;
					right: 70px;
					top: 3px;
					margin-right: 0;
					display: block;
				}

				& .main-btn {
					color: $white;

					@media #{$lg} {
						padding: 0 30px;
					}

					&:hover {
						border-color: $theme-color;
						color: $theme-color;
					}
				}
			}

			& .navbar-btn {
				& a {
					font-family: $pt_sans;
					color: $heading-color;
					@include transition(0.3s);

					&:hover {
						color: $theme-color;
					}

				}
			}
		}
	}
}





@-webkit-keyframes sticky {
	0% {
		top: -200px;
	}

	100% {
		top: 0;
	}
}

@keyframes sticky {
	0% {
		top: -200px;
	}

	100% {
		top: 0;
	}
}