.video-area {
    background: $grey;
    height: 750px;
    display: flex;
    align-items: center;

    & .video-content {
        display: flex;
        height: 450px;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;

        @media #{$md} {
            flex-direction: column;
        }

        @media #{$lg} {
            flex-direction: column;
        }

        @media #{$xs} {
            flex-direction: column;
        }

        @media #{$sm} {
            flex-direction: column;
        }

        & .text {

            &>span {
                font-size: 18px;
                color: $text-color;
                opacity: 0.5;
                padding: 8px;
            }

            & a.btn-2 {
                margin-top: 12px;
                margin-bottom: 20px;
                border-top-color: $theme-color;
                border-bottom-color: $theme-color;
                width: 318px;

                @media #{$xs} {
                    width: 100%;
                }

                @media #{$md} {
                    justify-content: center;
                }

                &::before {
                    background: $theme-color;
                }

                &::after {
                    background: $theme-color;
                }
            }

        }

        & .video-box {
            &>video {
                width: 690px;
                height: 450px;

                @media #{$xs} {
                    width: 100%;
                    height: auto;
                }
            }
        }


    }
}