.whois-area {
    background: $white;
    position: relative;

    & .whois-content {
        & .head {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 8rem;

            & span {
                width: 90%;
                opacity: 0.5;
                margin-top: 1rem;
                text-align: center;
            }
        }

        & .whois-items {
            display: flex;
            flex-wrap: wrap;
            align-content: space-around;
            justify-content: space-evenly;
            align-items: stretch;
            margin-top: 6rem;
            margin-bottom: 6rem;

            &>.item {
                width: 380px;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                //box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
                padding: 1rem;
                margin: 1rem;

                &:hover {
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
                }

                & .header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    & .title {
                        justify-self: center;
                        margin-right: 40%;
                    }
                }

                span {

                    &::before {
                        content: "";
                        position: relative;
                        display: block;
                        width: 200px;
                        height: 4px;
                        background: $theme-color;
                        margin: 8px 0px;
                        top: 0;
                    }
                }

                p {
                    margin-top: 1rem;
                    opacity: 0.5;
                    font-size: 18px;
                    line-height: 30px;
                }
            }

        }
    }
}