<!--====== BANNER PART START ======-->

<div class="banner-area">
    <div class="container position-relative">
        <div class="row">
            <div class="col-sm-12 col-lg-5 col-md-6 col-xxl-5">
                <div class="banner-content pt-100">
                    <h1 class="title wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">Instant voice
                        messenger</h1>
                    <span class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">No need to download apps or
                        integrate.<br>
                        Any device, any browser, any time</span>
                    <p>
                        <a class="main-btn btn-2 wow fadeInLeft" href="#demo_page">See Demo</a>
                    </p>
                    <ul class="apps">
                        <li id="android">
                            <a class="fadeInUp wow" data-wow-duration="1s" data-wow-delay="1s" href="#">
                                <img src="{{root}}assets/img/google-play-badge.png" alt="Get on Google Play">
                            </a>
                        </li>
                        <li id="ios">
                            <a class="fadeInUp wow" data-wow-duration="1s" data-wow-delay="1s" href="#">
                                <img src="{{root}}assets/img/App_Store_Badge.png" alt="Get on AppStore">
                            </a>
                        </li>
                    </ul>
                </div> <!-- banner content -->
            </div>
        </div> <!-- row -->
        <div class="banner-mac d-none d-lg-block wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s"">
                <img src=" {{root}}assets/img/macbook.png" alt="EasyTalk Web preview">
        </div>
        <div class="banner-phone d-none d-sm-block wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.7s"">
            <img src=" {{root}}assets/img/iPhone.png" alt="EasyTalk Phone preview">
        </div>
        <div class="banner-info fadeInUp wow" data-wow-duration="1s" data-wow-delay="1s">
            <p>Your teammates don’t have to register or download apps to start chating.
                Just send them a link for the chat you wish to share</p>
        </div>
    </div> <!-- container -->
</div>

<!--====== BANNER PART ENDS ======-->