<!--====== CTA PART START ======-->
<div class="cta-area">
    <div class="container position-relative">
        <div class="cta-content">
            <div class="text">
                <h2 class="title">Real instant voice messenger</h2>
                <span>Try it now. There is absolutely nothing to install here, you only need a browser. And it's
                    completely free</span>

            </div>
            <div class="cta-box">
                <p>
                    <a class="main-btn btn-2" href="#video-play">Get Started</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!--====== CTA PART START ======-->