<footer>
  <!-- Footer main -->
  <section id="_downloads" class="container ft-main">
    <div class="ft-main-item">
      <h2 class="ft-title">Integrations</h2>
      <ul>
        <li><a href="#">Android</a></li>
        <li><a href="#">iOS</a></li>
        <li><a href="#">Web/HTML</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Downloads</h2>
      <ul>
        <li><a href="#">Libraries</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Links</h2>
      <ul>
        <li><a href="#">See Demo</a></li>
        <li><a href="#">Instructions</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <img src="{{root}}assets/img/logo.svg" alt="EasyTalk Logo"></a>
      <p>No need to download apps or integrate. Any device, any browser, any time.</p>
      <div class="icons">
        <div class="social">
          <ul>
            <li><a href="#"><img src="{{root}}assets/img/footer/linkedin_color.svg" alt="Linkedin"></a></li>
            <li><a href="#"><img src="{{root}}assets/img/footer/facebook_color.svg" alt="Facebook"></a></li>
            <li><a href="#"><img src="{{root}}assets/img/footer/twitter_color.svg" alt="Twitter"></a></li>
            <li><a href="#"><img src="{{root}}assets/img/footer/google_color.svg" alt="Google"></a></li>
          </ul>
        </div>
        <div class="apps2">
          <ul>
              <li id="android">
                  <a class="fadeInUp wow" data-wow-duration="1s" data-wow-delay="1s" href="#">
                      <img src="{{root}}assets/img/google-play-badge.png" alt="Get on Google Play">
                  </a>
              </li>
              <li id="ios">
                  <a class="fadeInUp wow" data-wow-duration="1s" data-wow-delay="1s" href="#">
                      <img src="{{root}}assets/img/App_Store_Badge.png" alt="Get on AppStore">
                  </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer social -->
  <section class="ft-arr container">
    <div class="ft-arr-list">
      <span id="copyright">EasyTalk. All Rights Reserved</span>
    </div>
  </section>

</footer>