<!--====== FUNC PART START ======-->
<div class="functionality-area">
    <div class=" container position-relative">
        <div class="head wow bounceInUp">
            <h2 id="_functionality">Functionality</h2>
        </div>
        <div class="feature-items">
            <div class="item fadeInUp wow">
                <object data="{{root}}assets/img/func/team.svg" type="image/svg+xml">
                    <img src="{{root}}assets/img/func/png/team.png">
                </object>
                <p>Instance voice messenger for your team</p>
            </div>
            <div class="item fadeInUp wow">
                <object data="{{root}}assets/img/func/device.svg" type="image/svg+xml">
                    <img src="{{root}}assets/img/func/png/device.png">
                </object>
                <p>Any Device. Any Browser</p>
            </div>
            <div class="item fadeInUp wow">
                <object data="{{root}}assets/img/func/comm.svg" type="image/svg+xml">
                    <img src="{{root}}assets/img/func/png/comm.png">
                </object>
                <p>Voice communication with all of your team in one channel</p>
            </div>
            <div class="item fadeInUp wow">
                <object data="{{root}}assets/img/func/rooms.svg" type="image/svg+xml">
                    <img src="{{root}}assets/img/func/png/rooms.png">
                </object>
                <p>Create your own channels, invite people</p>
            </div>
            <div class="item fadeInUp wow">
                <object data="{{root}}assets/img/func/code.svg" type="image/svg+xml">
                    <img src="{{root}}assets/img/func/png/code.png">
                </object>
                <p>Easy integration in to your web site and mobile apps</p>
            </div>
        </div>
    </div>
</div>
<!--====== FUNC PART END ======-->