<!--====== HIW PART START ======-->
<div class="howitworks-area">
    <div class="container position-relative">
        <div class="head wow bounceInUp">
            <h2 id="_howitwork">How it work</h2>
        </div>
        <div class="hiw-container">
            <div class="timeline">
                <div class="timeline-item fadeInUp wow"">
                    <div class=" timeline-img icon-active">
                    <img src="{{root}}assets/img/hiw/white/0step.svg" alt="Get a link">
                </div>
                <div class="timeline-content">
                    <h3>Get a link</h3>
                    <p>You can get a link in your personal account</p>
                    <img class="content-img" src="{{root}}assets/img/hiw/link_img.png" alt="EasyTalk Link">
                </div>
            </div>
            <div class="timeline-item fadeInUp wow"">
                    <div class=" timeline-img icon-inactive">
                <img src="{{root}}assets/img/hiw/grey/1step.svg" alt="Share the link with your team">
            </div>
            <div class="timeline-content">
                <h3>Share the link with your team</h3>
                <p><strong>Everyone</strong> who has a link can talk in the channel <strong>without registration and
                        without downloading</strong></p>
            </div>
        </div>
        <div class="timeline-item fadeInUp wow"">
                    <div class=" timeline-img icon-inactive">
            <img src="{{root}}assets/img/hiw/grey/2step.svg"
                alt="Open the received link in a browser or in your mobile application">
        </div>
        <div class="timeline-content">
            <h3>Open the received link in a browser or in your mobile application</h3>
        </div>
    </div>
    <div class="timeline-item fadeInUp wow"">
                    <div class=" timeline-img icon-inactive">
        <img src="{{root}}assets/img/hiw/grey/3step.svg" alt="Let’s talk!">
    </div>
    <div class="timeline-content">
        <h3>Let’s talk!</h3>
        <p>That's all it takes to get started!</p>
    </div>
</div>
<div class="btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
    <p>
        <a class="main-btn btn-2" href="#">Get Started</a>
    </p>
</div>
</div>
</div>
</div>
</div>
<!--====== HIW PART END ======-->