<!--====== INTEGRATIONS PART START ======-->
<div class="integrations-area">
    <div class="container position-relative">
        <div class="integrations-content">
            <div class="head wow bounceInUp">
                <h2 id="_integrations">Integrations</h2>
                <span>
                    Easy setup and installation for your apps and web pages
                </span>
            </div>
            <div class="tabs">

                <input type="radio" id="tab1" name="tab-control" checked>
                <input type="radio" id="tab2" name="tab-control">
                <input type="radio" id="tab3" name="tab-control">
                <ul>
                    <li title="Web"><label for="tab1" role="button"><svg viewBox="0 0 24 24">
                                <path
                                    d="M12.00945,0.0006 C12.024,0.0012 12.0288,0.0024 12.0336,0.0024 C18.6348,0.0216 24,5.3952 24,12 C24,18.6048 18.6348,23.9796 12.0336,23.9976 C12.0312,23.9976 12.0276,24 12.024,24 L12.024,24 L12.018,23.9988 L12,24 C5.3832,24 0,18.6168 0,12 C0,5.3844 5.3832,0 12,0 C12.006,0 12.0132,0.0012 12.018,0.0012 Z M15.5544,13.2 L8.496,13.2 C8.8308,17.1264 10.758,19.7976 12.0144,21.1296 C13.1736,19.866 15.1872,17.1324 15.5544,13.2 L15.5544,13.2 Z M6.0732,13.2 L2.4828,13.2 C2.9448,16.8732 5.484,19.9008 8.8884,21.0732 C7.6128,19.2672 6.3204,16.6344 6.0732,13.2 L6.0732,13.2 Z M21.516,13.2 L17.97,13.2 C17.7084,16.6212 16.3992,19.2648 15.1404,21.0624 C18.5292,19.884 21.0564,16.8624 21.516,13.2 L21.516,13.2 Z M8.9256,2.9148 C5.5032,4.0764 2.946,7.1136 2.4828,10.8 L2.4828,10.8 L6.078,10.8 C6.342,7.3644 7.6632,4.7124 8.9256,2.9148 Z M12.0312,2.8764 C10.8708,4.14 8.862,6.8736 8.4948,10.8 L8.4948,10.8 L15.5508,10.8 C15.2088,6.87 13.2312,4.1616 12.0312,2.8764 Z M15.18,2.9532 C16.4496,4.7568 17.7276,7.3812 17.9736,10.8 L17.9736,10.8 L21.516,10.8 C21.0588,7.152 18.5496,4.1412 15.18,2.9532 Z"
                                    id="path-1"></path>
                            </svg><br><span>Web</span></label></li>
                    <li title="iOS"><label for="tab2" role="button"><svg viewBox="0 0 24 24">
                                <path
                                    d="M16.48303,5.68907369 C16.9773282,5.71057151 18.0068881,5.82896955 19.0593266,6.39932952 C19.7297721,6.7626824 20.4098065,7.30819187 20.9688211,8.12633085 L21.1162158,8.34208119 L20.8960371,8.48425695 C20.8842614,8.4918688 20.8957168,8.48410622 20.8759524,8.49631531 C20.6485255,8.63702766 18.450486,9.9971175 18.4777324,12.7386023 C18.506484,16.0436114 21.3088334,17.1893145 21.4635219,17.2525331 L21.4645205,17.2525331 L21.4712092,17.2553027 L21.6910863,17.3463434 L21.6157781,17.5713444 C21.6113127,17.584684 21.616381,17.5704965 21.6098619,17.5914292 C21.5383595,17.8205187 21.0536326,19.3734177 19.9586336,20.9735193 C19.4617528,21.6993206 18.9555097,22.4240275 18.3577982,22.9830341 C17.7389214,23.5618167 17.0321319,23.9525085 16.1589945,23.9687303 C15.33603,23.98418 14.7972476,23.7510577 14.237169,23.508723 C13.7031148,23.2776362 13.1477149,23.0372971 12.2785736,23.0372971 C11.3655668,23.0372971 10.7819412,23.285925 10.2197824,23.5254345 C9.69060798,23.7508694 9.17882465,23.9688993 8.44152664,23.9983104 L8.44052806,23.9983104 C7.58917021,24.0299259 6.85091507,23.6149104 6.19480898,23.0002162 C5.56709622,22.4121447 5.01713927,21.642049 4.5159833,20.9171937 C3.384701,19.2837041 2.40084895,16.9069377 2.09687974,14.4901791 C1.84685769,12.5022796 2.05584366,10.4828903 3.01693256,8.81513546 C3.55345456,7.88200663 4.30331493,7.1204852 5.18001923,6.58911735 C6.05272431,6.0601886 7.05119656,5.75918172 8.09051442,5.74359961 C9.0004312,5.72707582 9.85838529,6.06755563 10.6091119,6.36547257 C11.1404143,6.57630485 11.6137815,6.76417074 11.9686542,6.76417074 C12.2821724,6.76417074 12.7443093,6.58195831 13.2830343,6.36956112 C14.1928953,6.01084396 15.3060128,5.57203238 16.48303,5.68907369 Z M16.7158819,-1.15463195e-14 L16.7418828,0.236984316 C16.8178881,0.930077179 16.7254533,1.6224155 16.5144506,2.27001269 C16.2843206,2.97626471 15.9119802,3.63084417 15.4632017,4.1752689 L15.4632017,4.17626748 C15.0103905,4.72381086 14.4055516,5.20791711 13.7326749,5.52889615 C13.1151173,5.82347749 12.4381713,5.98212054 11.7645401,5.92961068 L11.5583802,5.91353916 L11.5312301,5.70826463 C11.4437128,5.04626101 11.5447769,4.37609784 11.7576253,3.75592249 C12.005312,3.03422893 12.4065162,2.37573001 12.8370183,1.87675311 L12.8369429,1.87667775 C13.2824433,1.35481422 13.8798787,0.900760318 14.5196929,0.571773273 C15.1616685,0.241656812 15.8511434,0.0352321288 16.4786711,0.00966553484 L16.7158819,-1.15463195e-14 Z"
                                    id="path-1" />
                            </svg><br><span>iOS</span></label></li>
                    <li title="Android"><label for="tab3" role="button"><svg viewBox="0 0 24 24">
                                <path
                                    d="M18.7606472,8.03849327 L18.7606472,16.1093365 C18.7606472,16.5130987 18.58261,16.8357149 18.3467987,17.0790541 C17.9878379,17.4494581 17.4709927,17.6346838 17.2793169,17.6346838 L15.8003535,17.6346838 L15.8003535,20.6912784 C15.8003535,21.0520257 15.6549329,21.3788406 15.4198419,21.6154919 C15.184893,21.8520325 14.8610897,21.9983608 14.5041688,21.9983608 C14.1472478,21.9983608 13.8234299,21.8520162 13.5884797,21.6154919 C13.3534047,21.3788244 13.2079681,21.0520257 13.2079681,20.6912784 L13.2079681,17.6346838 L10.6730977,17.6346838 L10.6730977,20.6912784 C10.6730977,21.0520257 10.5276452,21.3788081 10.2925236,21.6154757 C10.0575429,21.8520162 9.73366113,21.9983608 9.3767402,21.9983608 C9.01985116,21.9983608 8.69603189,21.8520311 8.46105116,21.6154919 C8.22597608,21.3788244 8.08053953,21.0520257 8.08053953,20.6912784 L8.08053953,17.6346838 L6.70746312,17.6346838 C6.51578738,17.6346838 5.99894219,17.4494581 5.6399814,17.0790541 C5.40416877,16.8357149 5.22612492,16.5130987 5.22612492,16.1093365 L5.22612492,8.03849327 L18.7606472,8.03849327 Z M3.29620066,8.23527705 C3.65257143,8.23527705 3.97577807,8.37917976 4.21022591,8.61177705 C4.44635216,8.84603516 4.59238538,9.16949732 4.59238538,9.52649327 L4.59238538,13.82675 C4.59238538,14.1838257 4.44632159,14.5072892 4.21022591,14.7415784 C3.97576346,14.9742244 3.65252492,15.1181433 3.29620066,15.1181433 C2.93987641,15.1181433 2.6166392,14.9742244 2.38217542,14.7415622 C2.14606512,14.5072892 2,14.1838095 2,13.82675 L2,9.52649327 C2,9.16949732 2.14607973,8.84605003 2.38219136,8.61180814 C2.61666977,8.37919597 2.93989236,8.23527705 3.29620066,8.23527705 Z M20.6905247,8.23528246 C21.0468319,8.23528246 21.3700545,8.37920138 21.6045329,8.61181489 C21.8406432,8.84605678 21.9867399,9.16950273 21.9867399,9.52650003 L21.9858924,9.52650003 L21.9859081,13.8267568 L21.9867399,13.8267568 C21.9867399,14.1838176 21.8406762,14.507296 21.6045645,14.7415689 C21.3700861,14.9742298 21.0468635,15.11815 20.6905087,15.11815 C20.3341845,15.11815 20.0109473,14.9742311 19.7764994,14.7415852 C19.5403891,14.5073122 19.3943399,14.1838325 19.3943399,13.8267568 L19.3943399,9.52650003 C19.3943399,9.16951895 19.5404037,8.846073 19.7765154,8.61181489 C20.0109778,8.37918516 20.3341845,8.23528246 20.6905247,8.23528246 Z M11.9932957,2 C12.8685249,2 13.7067841,2.14883378 14.4774286,2.41957838 C15.1778588,2.6656402 15.8210223,3.01256691 16.3841151,3.4400635 L16.6204718,3.62815 L16.6312704,3.63743922 L16.6717917,3.676 L18.0356013,2.28968922 C18.1808332,2.14198786 18.4165209,2.14198786 18.5617528,2.28968922 C18.7070007,2.43737435 18.7070007,2.67704327 18.5617528,2.82472841 L17.2127917,4.195 L17.246183,4.22627031 L17.2561497,4.23725138 C17.7347903,4.76361219 18.1156793,5.36260678 18.3742188,6.01254868 C18.5346919,6.41598435 18.6482337,6.83878003 18.7090498,7.27576104 L18.7446853,7.6060757 L5.24196104,7.6060757 C5.28317698,7.06918922 5.40370456,6.55122705 5.59318363,6.061373 C5.80383916,5.51677918 6.10021906,5.00720444 6.46802223,4.54527928 L6.65780954,4.31834597 L6.66694445,4.30821082 L6.73579169,4.239 L5.34572757,2.82472705 C5.20047973,2.67704192 5.20047973,2.437373 5.34572757,2.28968786 C5.49095947,2.14198651 5.72664718,2.14198651 5.87187907,2.28968786 L7.26879169,3.71 L7.48642543,3.52940717 C8.0566817,3.07619641 8.71402908,2.70755152 9.43334885,2.44581892 C10.2230498,2.15849189 11.087511,2 11.9932957,2 Z M14.6892837,4.79758651 C14.5144332,4.79758651 14.3560944,4.86964976 14.2415322,4.98614868 C14.1270005,5.10263097 14.0561183,5.26361219 14.0561183,5.44143246 C14.0561183,5.61920408 14.1270001,5.78018516 14.2415628,5.89666759 C14.3566595,6.01369259 14.5150299,6.08610678 14.6892837,6.08610678 L14.6892837,6.08526086 C14.8641183,6.08526086 15.0224252,6.01318167 15.1369728,5.89668383 C15.2515358,5.78020153 15.3224173,5.61922032 15.3224173,5.44143248 C15.3224173,5.26365949 15.2515354,5.10266219 15.1369728,4.98616354 C15.0224097,4.8696653 14.8641023,4.79758651 14.6892837,4.79758651 Z M9.19181528,4.79758516 C9.01698073,4.79758516 8.8586897,4.86963246 8.74417276,4.98611489 C8.62965674,5.10259719 8.55882259,5.26356219 8.55882259,5.44142976 C8.55882259,5.61923381 8.62967309,5.78021489 8.74420465,5.89669732 C8.85873635,6.01317962 9.01701262,6.08525949 9.19181528,6.08525949 C9.36671229,6.08525949 9.52501927,6.01319624 9.63955216,5.89672976 C9.75411522,5.78023151 9.82498206,5.61923381 9.82498206,5.44142976 C9.82498206,5.26362705 9.75411588,5.10262976 9.63955216,4.98613111 C9.52500478,4.86964881 9.36671362,4.79758516 9.19181528,4.79758516 Z"
                                    id="Combined-Shape" mask="url(#mask-2)">

                                </path>
                            </svg><br><span>Android</span></label></li>
                </ul>

                <div class="slider">
                    <div class="indicator"></div>
                </div>
                <div class="content">
                    <section>
                        <h3>Web</h3>
                        <span class="dot">Integration into your web-page</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorem sequi, quo
                            tempore in eum obcaecati atque quibusdam officiis est dolorum minima deleniti ratione
                            molestias
                            numquam. Voluptas voluptates quibusdam cum?</p>
                            <p>
                                <b>Add this library to your webpage</b> 
                            </p>
                            <pre><code class="language-javascript">    $(window).on('load', function (event) {
                                    const isIos = /iP(ad|od|hone)/i.test(navigator.userAgent);
                                    const isAndroid = /Android/i.test(navigator.userAgent);
                                    let ios = document.getElementById('ios');
                                    let android = document.getElementById('android');
                                    if (isAndroid) {
                                        ios.hidden = true;
                                    }
                                    if (isIos) {
                                        android.hidden = true;
                                    }
                                });</code></pre>

                    </section>
                    <section>
                        <h3>iOS</h3>
                        <span class="dot">Integration into your iOS application</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quas adipisci a accusantium
                            eius
                            ut voluptatibus ad impedit nulla, ipsa qui. Quasi temporibus eos commodi aliquid impedit
                            amet,
                            similique nulla.</p>
                            <p>
                                    <b>Add this library to your iOS project</b> 
                                </p>
                                <pre><code class="language-javascript">
                                        let package = Package(
                                            name: "MyTool",
                                            dependencies: [
                                              .package(url: "https://github.com/apple/swift-syntax.git", .exact("<#Specify Release tag#>")),
                                            ],
                                            targets: [
                                              .target(name: "MyTool", dependencies: ["SwiftSyntax"]),
                                            ]
                                          )
                                </code></pre>
                    </section>
                    <section>
                        <h3>Android</h3>
                        <span class="dot">Integration into your Android application</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nemo ducimus eius, magnam
                            error
                            quisquam sunt voluptate labore, excepturi numquam! Alias libero optio sed harum debitis!
                            Veniam,
                            quia in eum.</p>
                            <p>
                                    <b>Add this library to your Android project</b> 
                                </p>
                                <pre><code class="language-javascript">
                                        fun dfs(graph: Graph) {
                                            fun dfs(current: Vertex, visited: MutableSet<Vertex>) {
                                                if (!visited.add(current)) return
                                                for (v in current.neighbors)
                                                    dfs(v, visited)
                                            }
                                        
                                            dfs(graph.vertices[0], HashSet())
                                        }
                                </code></pre>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== INTEGRATIONS PART END ======-->