     <div class="modal fade" id="loginModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
             <div class="modal-content">
                 <div class="modal-header border-bottom-0">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
                 <div class="modal-body">
                     <div class="form-title text-center">
                         <h4>Login</h4>
                     </div>
                     <div class="d-flex flex-column text-center">
                         <form>
                             <div class="form-group">
                                 <input type="email" class="form-control" id="email1"
                                     placeholder="Your email address...">
                             </div>
                             <div class="form-group">
                                 <input type="password" class="form-control" id="password1"
                                     placeholder="Your password...">
                             </div>
                             <button type="button" class="main-btn btn-modal">Login</button>
                         </form>

                         <div class="text-center text-muted delimiter">or use a social network</div>
                         <div class="justify-content-center social-buttons">
                             <a href="#"><img src="{{root}}assets/img/footer/facebook_color.svg" alt="Facebook"></a>
                             <a href="#"><img src="{{root}}assets/img/footer/google_color.svg" alt="Google"></a>
                             </di>
                         </div>
                     </div>
                 </div>
                 <div class="modal-footer d-flex justify-content-center">
                     <div class="signup-section">Not a member yet? <a href="#" class="text-info" data-toggle="modal"
                             data-target="#signModal" data-dismiss="modal"> Sign Up</a>.</div>
                 </div>
             </div>
         </div>
     </div>
     <!--SIGNUP MODAL-->
     <div class="modal fade" id="signModal" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
             <div class="modal-content">
                 <div class="modal-header border-bottom-0">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
                 <div class="modal-body">
                     <div class="form-title text-center">
                         <h4>Signup</h4>
                     </div>
                     <div class="d-flex flex-column text-center">
                         <form>
                             <div class="form-group">
                                 <input type="text" class="form-control" id="name" placeholder="Your Name...">
                             </div>
                             <div class="form-group">
                                 <input type="email" class="form-control" id="emailsign"
                                     placeholder="Your email address...">
                             </div>
                             <div class="form-group">
                                 <input type="password" class="form-control" id="passwordsign"
                                     placeholder="Your password...">
                             </div>
                             <div class="form-group">
                                 <input type="password" class="form-control" id="passwordsign2"
                                     placeholder="Your password again...">
                             </div>
                             <button type="button" class="main-btn btn-modal">Sign up</button>
                         </form>

                         <div class="text-center text-muted delimiter">or use a social network</div>
                         <div class="justify-content-center social-buttons">
                             <a href="#"><img src="{{root}}assets/img/footer/facebook_color.svg" alt="Facebook"></a>
                             <a href="#"><img src="{{root}}assets/img/footer/google_color.svg" alt="Google"></a>
                             </di>
                         </div>
                     </div>
                 </div>
                 <div class="modal-footer d-flex justify-content-center">
                     <div class="signup-section">Already registered? <a href="#" class="text-info" data-toggle="modal"
                             data-target="#loginModal" data-dismiss="modal"> Login</a>.</div>
                 </div>
             </div>
         </div>
     </div>