<header class="header-area header-area-2">
    <div class="header-nav">
        <div class="navigation">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <a class="navbar-brand" href="/"><img src="assets/img/logo.svg" alt="EasyTalk Logo"></a>
                    <!-- logo -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                    </button> <!-- navbar toggler -->

                    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#_functionality">Functionality</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#_howitwork">How it work</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#_integrations">Integrations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#_downloads">Downloads</a>
                            </li>
                        </ul>
                    </div> <!-- navbar collapse -->
                    <div class="navbar-btn mr-100">
                        <a class="btn" href="#" data-toggle="modal" data-target="#loginModal">Login</a>
                        <a class="main-btn nav-btn" href="#a" data-toggle="modal" data-target="#signModal">Sign up</a>
                    </div>
                </nav>
            </div> <!-- navigation -->
        </div>
    </div>
</header>