<!--====== VIDEO PART START ======-->
<div class="video-area">
    <div class="container position-relative">
        <div class="video-content">
            <div class="text">
                <h2 class="title">Video review</h2>
                <span>Please watch the short video about our service</span>
                <p>
                    <a class="main-btn btn-2" href="#video-play">Get Started</a>
                </p>
            </div>
            <div class="video-box">
                <video poster="{{root}}assets/img/video.png" id='player' playsinline controls>
                    <source src="{{root}}assets/video/bunny.webm" type="video/webm">
                </video>
            </div>
        </div>
    </div>
</div>
<!--====== VIDEO PART START ======-->