<div class="whois-area">
        <div class="container position-relative">
                <div class="whois-content">
                        <div class="head wow bounceInUp">
                                <h2 id="_forwho">Who is EasyTalk for</h2>
                                <span>
                                        Your teammates don’t have to register or download apps to start chating.<br>
                                        Just send them a link for the chat you wish to share
                                </span>
                        </div>
                        <div class="whois-items">
                                <div class="item">
                                        <div class="header">
                                                <img src="{{root}}assets/img/whois/truckers.svg" alt="Truckers">
                                                <div class="title">
                                                        <h3>Truckers</h3>
                                                </div>

                                        </div>
                                        <span class="line"></span>
                                        <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut
                                                convallis nisl, eget lacinia tortor. Morbi volutpat dui ut lacinia
                                                placerat.
                                        </p>
                                </div>
                                <div class="item">
                                        <div class="header">
                                                <img src="{{root}}assets/img/whois/childrens.svg" alt="Childrens">
                                                <div class="title">
                                                        <h3>Childrens</h3>
                                                </div>
                                        </div>
                                        <span class="line"></span>
                                        <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut
                                                convallis nisl, eget lacinia tortor. Morbi volutpat dui ut lacinia
                                                placerat.
                                        </p>
                                </div>
                                <div class="item">
                                        <div class="header">
                                                <img src="{{root}}assets/img/whois/rest.svg" alt="Restaurants">
                                                <div class="title">
                                                        <h3>Restaurants</h3>
                                                </div>

                                        </div>
                                        <span class="line"></span>
                                        <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut
                                                convallis nisl, eget lacinia tortor. Morbi volutpat dui ut lacinia
                                                placerat.
                                        </p>
                                </div>
                                <div class="item">
                                        <div class="header">
                                                <img src="{{root}}assets/img/whois/airports.svg" alt="Airports">
                                                <div class="title">
                                                        <h3>Airports</h3>
                                                </div>

                                        </div>
                                        <span class="line"></span>
                                        <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut
                                                convallis nisl, eget lacinia tortor. Morbi volutpat dui ut lacinia
                                                placerat.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut
                                                convallis nisl, eget lacinia tortor. Morbi volutpat dui ut lacinia
                                                placerat.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut
                                                convallis nisl, eget lacinia tortor. Morbi volutpat dui ut lacinia
                                                placerat.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut
                                                convallis nisl, eget lacinia tortor. Morbi volutpat dui ut lacinia
                                                placerat.
                                        </p>
                                </div>
                                <div class="item">
                                        <div class="header">
                                                <img src="{{root}}assets/img/whois/banks.svg" alt="Banks">
                                                <div class="title">
                                                        <h3>Banks</h3>
                                                </div>

                                        </div>
                                        <span class="line"></span>
                                        <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut
                                                convallis nisl, eget lacinia tortor. Morbi volutpat dui ut lacinia
                                                placerat.
                                        </p>
                                </div>
                                <div class="item">
                                        <div class="header">
                                                <img src="{{root}}assets/img/whois/yacht.svg" alt="Yachtsmen">
                                                <div class="title">
                                                        <h3>Yachtsmen</h3>
                                                </div>

                                        </div>
                                        <span class="line"></span>
                                        <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut
                                                convallis nisl, eget lacinia tortor. Morbi volutpat dui ut lacinia
                                                placerat.
                                        </p>
                                </div>
                        </div>
                </div>
        </div>
</div>